
.drawer-panel-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  .drawer-panel-mask {
    position: absolute;
    background: #000;
    opacity: 0.3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .drawer-content-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: var(--foreground-color);
  }
  .drawer-content-top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: var(--foreground-color);
  }
}
