html{
  scroll-behavior: smooth;
}
.react-valine {
  color:var(--text-primary);
  background:var(--background-color);
  * {
    box-sizing: border-box;
    transition:.3s;
  }
  a{
    position:relative;
    cursor: pointer;
    text-decoration:none;
    display:inline-block;
    &::before{
      content:'';
      position:absolute;
      width:0;
      right:0;
      bottom:0;
      height:1px;
      background:var(--theme-primary);
      transition: width .3s ease;
    }
    &:hover {
      color: var(--theme-primary);
      &::before{
        width:100%;
        left:0;
        right:auto;
      }
    }
  }
  .w-100{
    width:100%;
  }
  .flex-1{
    flex:1;
  }
  .highlight-ele{
    background-color: var(--warning-color) !important;
    *{
      background-color: var(--warning-color) !important;
    }
  }

  .at{
    text-decoration: none;
    color: var(--text-secondary);
    font-weight: 500;
    &:hover {
      color: var(--text-primary);
    }
  }

  pre,code{
    //background-color: var(--foreground-color);
    //color: var(--text-secondary);
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    margin: 0;
    font-family: "Source Code Pro", "courier new", "Input Mono", "PT Mono","SFMono-Regular",Consolas,Monaco,Menlo,"PingFang SC","Liberation Mono","Microsoft YaHei",Courierï¼Œmonospace;
  }
  code{
    color: var(--theme-primary);
    background: var(--foreground-color);
  }
  pre{
    padding: 8px;
    overflow: auto;
    line-height: 1.45;
    code{
      padding:0;
      color:inherit;
      //color: var(--text-secondary);
      background:transparent;
      white-space: pre-wrap;
      word-break: keep-all;
    }
  }
  blockquote{
    color: var(--text-muted);
    margin: 8px 0;
    padding: 0 0 0 12px ;
    border-left: 8px solid var(--text-blur);
  }
  ul,ol {
    padding: 0;
    margin-left: 16px;
  }
  svg{
    fill:var(--text-primary)
  }
  .vinput {
    border: none;
    resize: none;
    outline: none;
    padding: 8px 4px;
    max-width: 100%;
    font-size: 14px;
  }

  .vscreen-errorlog{
    background: var(--error-color);
    opacity:0.7;
    position: fixed;
    height: 72px;
    width: 240px;
    bottom: 8px;
    right: 8px;
    border-radius: 4px;
    padding: 8px;
    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: flex-start;
    //transform:translateY(100%);
    //transition:.5s;
    z-index: 999;
    h6,p{
      margin:0;
      padding:0;
      color: #fff;
      font-size:12px;
      letter-spacing: 1px
    }
    h6{
      font-size:14px;
      font-weight:bold;
    }
  }

  .avatar-panel-box{
    list-style: none;
    background: var(--foreground-color);
    margin:0;
    display:flex;
    padding:0;
    flex-flow: row wrap;
    justify-content:flex-start;
    max-width: 680px;
    .avatar-panel-item{
      box-shadow: 5px 5px 10px -5px #57575780;
      margin: 4px 8px;
      cursor:pointer;
      width:64px;
      height:64px;
      border-radius:10px;
      overflow:hidden;
      transition:.5s;
      &:hover{
        box-shadow:1px 1px 5px -3px #57575780;
      }
    }
  }

  .emoji-panel-box{
    font-size: 18px;
    text-align:justify;
    max-height: 80vh;
    overflow: auto;
    margin-bottom: 10px;
    box-shadow:0px 0 1px #f0f0f0;
    user-select: none;
    .emoji-panel-item{
      font-style: normal;
      padding: 7px 0;
      width: 38px;
      cursor: pointer;
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      transition:background .5s linear;
      &:hover{
        background:#83cfff;
      }
    }
  }


  .v-main-wrapper {
    margin-bottom: 8px;
    position: relative;
    padding: 8px;
    input {
      background: transparent;
    }

    .v-edit-area {
      position: relative;
      padding-top:0;
      .vemoji-preview-list{
        position:absolute;
        list-style: none;
        margin-top: 1.5rem;
        margin-left:2px;
        min-width:10rem;
        border: 1px solid var(--border-color);
        border-radius:4px;
        border-top: none;
        background:var(--background-color);
        z-index: 5;
        li:first-child{
          border-radius:4px 4px 0 0;
        }
        li:last-child{
          border-radius:0 0 4px 4px;
        }
        li{
          cursor: pointer;
          border-top: 1px solid var(--border-color);
          padding: 4px 8px;
        }
        li:hover{
          background: var(--theme-primary);
          color:#fff
        }
      }
    }

    .vheader {
      display: flex;
      flex-flow: column;
      .vinputs-ident{
        display:flex;
        align-items:center;
        width:100%;
      }
      .v-link-toggle{
        text-transform: none;
        padding: 6px 4px;
        cursor: pointer;
        background: var(--text-blur);
        border:1px solid var(--text-blur);
        border-radius: 4px;
        //box-shadow: 0 4px 6px -6px var(--shadow-color);
        &:hover{
          background:var(--foreground-color);
          color:var(--text-primary);
          border:1px solid var(--text-secondary);
        }
      }
      .vavatars-select-button{
        position: relative;
        margin-right: 8px;
        cursor: pointer;
        .vavatars-edit-icon{
          position:absolute;
          top:0;
          left:-8px;
        }
        .vavatars-edit-icon-lg{
          position:absolute;
          top:50%;
          left:50%;
          transform:translate(-50%,-50%) scale(1.5);
        }
      }

      @media screen and (min-width:600px){
        .vavatars-select-button{
          transform: translateY(15px);
        }
      }

      .vavatars-select-selected{
        border-radius:50%;
        width:100%;
        min-width:100%;
        height:100%;
      }
      .vavatars-select-mark {
        font-size: 1rem;
        text-align: center;
        line-height: 3;
        vertical-align: middle;
        border-radius:50%;
        position: absolute;
        background: rgba(255, 255, 255, 0.7);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
      @media screen and (min-width:768px) {
        flex-flow: row nowrap;
        align-items: flex-start;
      }
    }
    .v-edit-submit {
      padding-top: 4px;
      display:flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .v-content-preview {
    min-height: 64px;
    padding: 8px;
    font-size:14px;

    background: var(--foreground-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    img,frame,iframe{
      max-width: 100%;
      border:none;
    }
  }
  .v-edit-control {
    text-align: right;
    font-size: 12px;
    span {
      cursor: pointer;
    }
  }
  .power {
    color: var(--text-secondary);
    font-size: 14px;
    padding:8px 0;
  }
  .vinfo {
    font-size: 0;
    padding: 5px;
    .vcount {
      font-size: 14px;
      display: inline-block;
      vertical-align: middle;
      .vnum {
        font-weight: 600;
        font-size: 18px;
        padding:0 4px;
      }
    }
  }


  .txt-center {
    text-align: center;
  }
  .txt-right {
    text-align: right;
  }

  .vbtn {
    text-align: center;
    color: var(--text-primary);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    display: inline-block;
    background: #ccc;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 16px;
    user-select: none;
    outline: none;
    &+.vbtn {
      margin-left: 12px;
    }
  }
  .vbtn:disabled,.vbtn:disabled:hover{
    cursor:not-allowed;
    border:none;
    color: var(--text-muted);
  }

  .vbtn:active,
  .vbtn:hover {
    color: var(--theme-primary);
    border-color: var(--theme-primary);
    background-color: var(--background-color);
  }
  .vempty {
    padding: 8px;
    text-align: center;
    color: var(--text-secondary);
  }
  .vlist {
    width: 100%;
    .vcard {
      position: relative;
      display: block;
      transition:.3s;
      padding: 12px 0;
      border-bottom: 1px dashed var(--border-color);
      &:after {
        content: '';
        clear: both;
        display: block;
      }
      .v-avatar {
        width: 32px;
        height: 32px;
        float: left;
        border-radius: 50%;
        margin-right: 8px;
      }
      .v-head-info {
        line-height: 1.5;
        margin-top: 0;
        overflow: hidden;
        padding-bottom: 8px;
        a {
          text-decoration: none;
          color: var(--text-primary);
        }
        .vnick{
          letter-spacing: 1px;
          a{
            position:relative;
            font-size: 14px;
            font-weight: 700;
            margin-right: 8px;
            cursor: pointer;
            text-decoration:none;
            display:inline-block;
            &::before{
              content:'';
              position:absolute;
              width:0;
              right:0;
              bottom:0;
              height:1px;
              transition: width .3s ease;
            }
            &:hover {
              &::before{
                width:100%;
                left:0;
                right:auto;
              }
            }
          }
        }
        .vmeta {
          line-height:1;
          position: relative;
          .vtime {
            color: var(--text-muted);
            font-size: 12px;
          }
          .vsys {
            display: inline-block;
            padding: 4px 8px;
            background: var(--foreground-color);
            color: var(--text-secondary);
            font-size: 14px;
            border-radius: 4px;
            margin-right: 4px;
          }
        }
      }
      .v-content-wrapper{
        margin-left: 24px;
        .showchild-button-on{
          font-size: 14px;
          cursor: pointer;
          width: 100%;
          padding: 2px 4px;
          b{
            padding-right:4px;
          }
        }
        .showchild-button-off{
          font-size:0.6rem;
          cursor: pointer;
          width: 100%;
          border: 2px solid #ccc;
          background: rgba(215, 215, 215, 1);
          color: #898989;
          border-radius: 4px;
          padding: 2px;
        }
        .v-content-action{
          display: inline-block;

          .v-action-reply {
            display: inline-block;
            font-size: 14px;
            font-weight:bold;
            cursor: pointer;
            padding:2px 4px;
            margin-right:8px;
          }
        }
        .v-edit-cancel{
          display:inline-block;
          font-size: 14px;
          cursor: pointer;
          padding:2px 4px;
          margin-right:8px;
        }
        .v-edit-save{
          display:inline-block;
          font-size: 14px;
          color:var(--success-color);
          cursor: pointer;
          padding:2px 4px;
          margin-right:8px;
        }
        .v-action-edit{
          display:inline-block;
          font-size: 14px;
          cursor: pointer;
          padding:2px 4px;
          margin-right:8px;
          color:var(--info-color);
        }
        .v-content-body {
          word-wrap: break-word;
          word-break: break-all;
          text-align: justify;
          color: var(--text-primary);
          font-size: 16px;
          line-height: 1.5;
          position: relative;
          margin-bottom: 8px;
          padding-top: 6px;
          img,iframe,frame {
            max-width: 100%;
            border:none;
          }
          &.expand {
            cursor: pointer;
            max-height: 220px;
            overflow: hidden;
            &:before {
              display: block;
              content: "";
              position: absolute;
              width: 100%;
              left: 0;
              top: 0;
              bottom: 3.15rem;
              pointer-events: none;
              background: linear-gradient(180deg, rgba(255, 255, 255, 0), var(--background-color-opa90));
            }
            &:after {
              display: block;
              content: "--- Expand ---";
              text-align: center;
              color: var(--text-secondary);
              position: absolute;
              width: 100%;
              height: 52px;
              line-height: 52px;
              left: 0;
              bottom: 0;
              pointer-events: none;
              background: var(--background-color-opa90);
            }
          }
        }
      }
      .vquote {
        color: var(--text-primary);
        font-size: 0.6rem;
        font-weight: 500;
        border-left: 1px dashed var(--border-color);
        .v-avatar{
          width: 24px;
          height: 24px;
        }
        .vquote{
          .v-avatar{
            width:18px;
            height:18px;
          }
        }
      }

      &:last-child{
        border-bottom:none;
      }
    }
  }
  .v-content-footer {
    .vdiscuss{
      background: var(--success-color);
      font-weight:700;
      &:hover{
        color:var(--theme-primary);
        background:var(--background-color);
      }
    }
  }
  .clear {
    content: '';
    display: block;
    clear: both;
  }
  /************ Loading ************/
  $base-line-height: 40px;
  $white: rgb(220, 220, 220);
  $off-white: rgb(160, 160, 160);
  $spin-duration: 1s;
  $pulse-duration: 750ms;
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes pulse {
    50% {
      background: $white;
    }
  }
  .vloading {
    position: relative;
    padding: 20px;
    display: block;
    height: 80px;
  }
  .vloading::before {
    box-sizing: border-box;
    content: '';
    position: absolute;
    display: inline-block;
    top: 20px;
    left: 50%;
    margin-left: -20px;
    width: $base-line-height;
    height: $base-line-height;
    border: 6px double var(--theme-primary);
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: spin $spin-duration infinite linear;
  }

  .vloading-btn{
    position: relative;
    display: block;
    height: 24px;
    width: 24px;
    margin: auto;
    &:before{
      box-sizing: border-box;
      content: '';
      position: absolute;
      display: inline-block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 3px solid var(--theme-primary);
      border-bottom-color: transparent;
      border-radius: 50%;
      animation: spin 1s infinite linear;
    }
  }
  .vloading-btn-sm{
    height: 14px;
    width: 14px;
  }

  .text-btn{
    background-color:var(--background-color) ;
    border:none !important;
    &:hover{
      background-color:var(--text-blur);
    }
  }
  .success-btn{
    background-color: var(--success-color) !important;
    color:#fff !important;
  }

  .disabled-btn{
    background-color:var(--text-blur) !important;
    color:var(--text-muted) !important;
  }
}
