
table{
  width:100%;
}
td, th{
  text-align: center;
}

.cvf-datetime-outerwrapper{
  width: 100%;
  position: absolute;
  display: none;
  z-index: 10;
  background: #fff;
  top: 105%;
  max-width: 300px;
  left: 0;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: 0 5px 10px -5px #000;
  padding: 8px;
}
.cvf-datetime-switch{
  text-align:center;
  cursor:pointer;
  font-size:20px;
  transition:background .3s;
  &:hover{
    background:$info;
    color:$text-opposite
  }
}
.cvf-date-wrapper,.cvf-time-wrapper{
  width: 100%;
  //position: absolute;
  display: none;
  z-index: 10;
  background: #fff;
  //top: 105%;
  max-width: 300px;
  //left: 0;
  //border: 1px solid #000;
  //border-radius: 4px;
  //box-shadow: 0 5px 10px -5px #000;
  padding: 8px;
  img{
    width: 20px;
  }
  table{
    display:none;
    width:100%;
    background:#fff;
    .cvf-date-body-year-cell, .cvf-date-body-month-cell, .cvf-date-body-day-cell{
      padding:6px;
      cursor:pointer;
      border-radius:4px;
      &:hover{
        background:#eee;
      }
    }
    .cvf-date-body-month-cell, .cvf-date-body-year-cell{
      width: 25%;
      padding: 12px 4px;
      display: inline-block;
    }
    .next-month-cell, .prev-month-cell{
      color:$text-primary;
    }
  }
  .day-choose{
    background:$info !important;
    color:#fff !important;
  }
  .cvf-today{
    position:relative;
    &:after{
      content: "";
      width: 0;
      height: 0;
      border-bottom: 10px solid $info;
      border-left: 10px solid transparent;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .cvf-date-head-info{
    cursor:pointer;
    border-radius: 4px;
    &:hover{
      background:#eee;
    }
  }
  .prev-arrow, .next-arrow{
    width:20px;
    cursor:pointer;
    padding: 0 4px;
    border-radius: 4px;
    &:hover{
      background:#eee;
    }
  }
}

.cvf-time-wrapper{
  .cvf-time-container{
    display:flex;
    flex-flow:row;
    align-items: center;
    justify-content: center;
    font-size:24px;

    .cvf-timepanel-hour, .cvf-timepanel-minute{
      display:flex;
      flex-flow:column;
      justify-content: center;
      align-items: center;
      padding:8px;
    }
    .cvf-minute-info, .cvf-hour-info{
      cursor:pointer;
      padding:8px;
      border-radius: 4px;
      &:hover{
        background:$info;
        color:$text-opposite;
      }
    }
    .cvf-minute-prev, .cvf-minute-next, .cvf-hour-prev, .cvf-hour-next{
      font-size:32px;
      cursor:pointer;
      color:#444;
      transition:.3s;
      &:hover{
        color:#000;
      }
    }

    .cvf-timepanel-colon{
      padding: 0 24px;
      font-weight: bolder;
    }
  }

  .cvf-select-panel{
    display:none;
  }
  .cvf-select-list{
    list-style: none;
    text-align: center;
    user-select: none;
    position: absolute;
    width: 100%;
    max-width: 260px;
    margin: auto;
    z-index: 5;
    box-shadow: 0 5px 10px -5px #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    &:active li:not(.cvf-select-time-active){
      background:initial;
      color:$text-primary;
    }
  }
  .cvf-select-item{
    letter-spacing: -4px;
    padding: 12px 8px;
    cursor:pointer;
    &:hover{
      background:$info;
      color:$text-opposite;
    }
    &:active{
      cursor:grabbing;
    }
  }
  .cvf-time-choose-btn{
    background:$success;
    color:#fff;
    padding:8px 12px;
    max-width:120px;
    text-align: center;
    box-shadow:0 5px 10px -5px #000;
    margin:auto;
    border-radius:4px;
    cursor:pointer;
    &:hover{
      background: #63bd51;
    }
    &:active{
      box-shadow:0 3px 6px -3px #000;
    }
  }
  .cvf-select-time-active{
    //background:$info;
    //color:$text-opposite;
  }
}
.cell-disabled{
  color: $text-blur !important;
  &:hover{
    color: $text-blur !important;
    background:initial !important;
  }

}
